@import "../../../pages/def";

li.product {
  background-color: #f5f5f7;
  @include custom-flex(center, flex-start, row, nowrap);
  box-shadow: 0 1px 3px #00000027;
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  .imageWrapper {
    width: 48px;
    height: 48px;
    overflow: hidden;
    @include custom-flex(center, center);
    img {
      width: 100%;
      background-color: white;
      border: 1px solid #f5f5f7;
    }
  }
  div.info {
    min-width: 50px;
    padding: 0 16px;
    text-align: center;
  }
  button {
    width: 48px;
    height: 48px;
    background-color: #f56300;
    border: none;
    background-image: url("/trashcan.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
    cursor: pointer;
    &.edit {
      margin-left: auto;
      background-color: #0071e3;
      background-image: url("/edit.svg");
    }
    &:hover {
      filter: brightness(0.9);
    }
  }
}
