$blue: #0070c9;
$light-blue: #42a1ec;

$padding: 24px;
$padding-mobile: 16px;

$breakpoint-desktop: 1041px;
$breakpoint-mobile: 1040px;

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    & {
      @content;
    }
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    & {
      @content;
    }
  }
}

@mixin custom-flex($a: flex-start, $j: flex-start, $d: row, $w: wrap) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $d;
  flex-wrap: $w;
}
