@import "./def";
h1.neulhan {
  font-size: 100px;
  span {
    color: red;
  }
}

.wrapper {
  @include custom-flex(center, center);

  .button {
    width: 240px;
    height: 44px;
    background-color: #0071e3;
    border: 1px solid #f5f5f7;
    color: white;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
