@import "./def";
h1.neulhan {
  font-size: 108px;
  text-align: center;
  span {
    color: #11dddd;
  }
}

.wrapper {
  @include custom-flex(center, center);
  min-height: calc(100vh - 128px);
  padding: 48px 0;
}

.cardWrapper {
  @include custom-flex(center, space-between);
  li {
    list-style: none;
    cursor: pointer;
    .card {
      margin-bottom: 24px;
      .image {
        width: 330px;
        height: 330px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.6s;
        &:hover {
          transform: scale(1.03);
        }
      }
      .name {
        margin-top: 8px;
        font-weight: 500;
        font-size: 24px;
      }
      .price {
        text-decoration: line-through;
        color: #444;
      }
      .promotion {
        font-size: 1.5em;
      }
    }
  }
}
