@import "../../pages/def";

.footer {
  background-color: #292931;
  @include custom-flex(center, center);
  padding: $padding 0;
  @include mobile {
    padding: 0;
  }
  .info-wrapper {
    @include mobile {
      padding: $padding-mobile;
    }
    p {
      color: #ddd;
      font-size: 14px;
      font-weight: 100;
    }
  }
}
