@import "../../pages/def";

nav.second {
  @include custom-flex(center, center);
  background-color: #000000cc;
  height: 50px;
  @include mobile {
    padding: 0 $padding-mobile;
  }

  .innerContainer {
    @include custom-flex(center, space-between);

    a {
      @include custom-flex(center, flex-start);

      img {
        height: 32px;
        margin-right: 8px;
      }

      .text {
        color: white;
        font-weight: 500;
        span {
          color: #11dddd;
        }
      }
    }

    // .left {
    // }
    .right {
      @include custom-flex(center, center);
      &,
      * {
        color: white;
        font-size: 12px;
      }
      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
      }
      a:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
