@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1040px) {
  .container {
    width: 100%;
  }
  .desktop {
    display: block;
  }
}

@media (min-width: 1041px) {
  .container {
    width: 1040px;
  }
  .mobile {
    display: none;
  }
}
*:focus {
  outline: none;
}
