@import "../../pages/def";

nav.second {
  @include custom-flex(center, center);
  background-color: #000000cc;
  height: 44px;

  .innerContainer {
    @include custom-flex(center, flex-start);

    a {
      @include custom-flex(center, flex-start);

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      .text {
        color: white;
        font-weight: 500;
        span {
          color: #11dddd;
        }
      }
    }
  }
}
